{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<section id="edit-account" class="relative ">
    <div class="container ">
        <h2 class="second-title text-center text-color-secondary mb-5">Edit Account</h2>

        <form action="." method="POST" class=" flex flex-col gap-5 md:w-1/2 mx-auto ">
            {% csrf_token %}
            <div class="space-y-1">
                <label for="" class="text-color-secondary text-base ">First name</label>
                <input type="text" name="first_name" required class="w-full bg-color-primary-light  rounded-lg"
                    value="{{request.user.first_name}}">
            </div>

            <div class="space-y-1">
                <label for="" class="text-color-secondary text-base">Last name</label>
                <input type="text" name="last_name" required class="w-full bg-color-primary-light  rounded-lg"
                    value="{{request.user.last_name}}">
            </div>

            <div class=" space-y-1">
                <label for="" class="text-color-secondary text-base"> Username</label>
                <input type="text" name="username" required class="w-full bg-color-primary-light  rounded-lg"
                    value="{{request.user.username}}">
            </div>

            <div class=" space-y-1">
                <label for="" class="text-color-secondary text-base"> Email</label>
                <input type="email" name="email" required class="w-full  bg-color-primary-light  rounded-lg"
                    value="{{request.user.email}}">
            </div>
            <button class=" btn-primary w-1/3">Submit</button>

        </form>
    </div>

</section>


{% endblock %}